<h1>Recipe: <span><%= @recipe.name %></span>
	<% if user_signed_in? %>
		<span style="margin-left: 30px;"><%= link_to('<span class="glyphicon glyphicon-edit"> edit</span>'.html_safe, edit_recipe_path(@recipe), { class: "btn btn-mini btn-warning"} ) %></span>
	<% end %>
</h1>

<div class="row">
	<div class="col-lg-4"><%= image_tag("rb1.jpg", class: "img-rounded") %></div>
	<div class="col-lg-4 col-lg-offset-1">
		<table class="table table-striped table-condensed">
			<tr>
				<th>Meal</th><td><%= @recipe.category.name %></td>
			</tr>
			<tr>
				<th>Category</th><td><%= @recipe.category.name %></td>
			</tr>
			<tr>
				<th>Pre-heat oven to</th><td><%= @recipe.oven_temp %> degrees</td>
			</tr>
			<tr>
				<th>Cook time</th><td><%= @recipe.cook_time %> minutes</td>
			</tr>
			<tr>
				<th>entered by</th><td><%= @recipe.user.email unless @recipe.user_id.nil? %></td>
			</tr>
		</table>
	</div>
</div>

<legend>Ingredients</legend>

<% @recipe.ingredients.each do |ingr| %>
	<ul >
		<li><%= ingr.name %></li>
	</ul>
<% end %>

<legend>Directions</legend>

<h3>Directions</h3>
<p><%= @recipe.instructions %></p>

<h3>Notes</h3>
<p><%= @recipe.notes %></p>


